<% provide(:title, 'About') %>
<div class="container">
<h1>About</h1>
<p> After5 is a new way to socially share and explore the best happy hour deals in Sydney. We believe that your search results should be as unique as your individual taste, and cater to this by learning what you like and leading you to places you’ll love! </p>
<p>Find great recommendations based on your location, interests, past ratings for similar places, and the friends you trust most. After5 will offer you happy hour recommendations based on what you and your friends have been enjoying, so you’ll have no reason to not try something new! As additional encouragement, After5 allows you to earn a number of cool badges for completing a variety of different criteria.</p>
</div>