<% provide(:title, 'Contact Us') %>
<div class="container">
<h1>Contact Us</h1>
<p>Contact us at <%= mail_to "karinasurgut@gmail.com", "karinasurgut [at] gmail [dot] com", class: "", alt: "Email admin" %></p>
</div>