<% provide(:title, "Used deals") %>
<div class="container" style = "padding-top:30px;">
<div class="row">	  
  <div class="col-lg-6 center">
    <%= userpic_for(@user,"large") %><br/>
    <h1 class="center user-name">
      <%= @user.name %>
    </h1>
    <p class="center"><%= link_to 'Back to profile', user_path(@user), class: "btn btn-sm btn-default" %></p>
  </div> 
  <div class="col-lg-6">
    <hr>
	<% if @checkin_items.any? %>
    <h3 class="center">Deals you've checked out:</h3>
  	 <ul class="deals">
  		<%= render partial: 'deals/deal', collection: @checkin_items %>
	   </ul>
  <% end %>
  </div>
</div>
</div>