<% provide(:title, "Used deals") %>

<div class="row">	  
  <div class="col-lg-6 center">
    <%= userpic_for(@user,"large") %><br/>
    <h1 class="center">
      <%= @user.name %>
    </h1>
  </div> 
  <div class="col-lg-6">
	<% if @checkin_items.any? %>
    <h3>Deals you've checked out</h3>
  	 <ul class="deals">
  		<%= render partial: 'deals/deal', collection: @checkin_items %>
	   </ul>
  <% end %>
  </div>
</div>