<div class="sb_dropdown" style="display:none;" data-toggle="buttons">
	<!--<li class="sb_filter">Filter your search</li>-->
	<!--<li><input type="checkbox"><label for="all"><strong>All Categories</strong></label></li>-->
	<label for="wine" class="btn btn-primary"><input type="checkbox">wine</label>
	<label for="rooftop" class="btn btn-primary"><input type="checkbox">rooftop</label>
	<label for="karaoke" class="btn btn-primary" ><input type="checkbox">karaoke</label>
	<label for="rum" class="btn btn-primary"><input type="checkbox">rum</label>				
</div>