/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  h1 {
    margin-bottom: 10px;
  }
}

 /* typography 

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* end typography */

/* footer */
footer {
  padding: 15px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* end footer */

.hor-wrapper {
	float:left;
	float: left;
	white-space: nowrap;
	overflow: hidden;

	margin-left: 0;
	margin-right: 0;
	/*overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	*/
}
.internal {
	display: inline;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
  overflow-y: auto;
}

.home-title {
  color: #fff;
  text-shadow: 1px 1px 5px #000;

}

h1.home-title{
  font-family: 'Terembura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 44px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
}

h4.home-title{
  font-size: 23px;
}

.left-date{
	font-size: 4em;
	color: #0AB1FF;
	text-align: center;
	margin-bottom:-15px;
}
.left-month{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	color: #C2C2C2;
	margin:0;
}

.left-week{
	font-weight:bold;
	margin:0;
	font-size:1.2em;
}

.modal-content{
  margin-top:100px;
}
.navbar {
  margin-bottom:0;
}
.navbar-inverse {
  background-color: #00b3e5;
  border-color: #fff;
}

.nav-pills{
  
  padding-top: 7px;
}
.jumbotron {
  box-shadow: inset 0 0 20px 0 #999;
  padding: 0px;
  margin-bottom: 0;
  color: inherit;
  background: asset-data-url('searchtiles.png') left top repeat #00b3e5;
    p {
      font-size:16px;
      margin-bottom:10px;
    }
}

/*searchbar on home and search pages*/
.searchbar {
  border: 5px solid #e73363;
  width:100%;
  border-radius: 7px;
  box-shadow: 0px 0px 5px #000;
  margin-bottom: 30px!important;
}

.searchbar-input {
  font-family: 'Terembura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 50px;
}

.searchbar-btn {
  height: 50px;
  width:100%;
}


.featured div img{
margin-bottom:10px;
width: 100%;
}

.navbar-inverse .navbar-toggle {
	border: none;
}
.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus{
background-color:#5BC4FF;
}

.deal-carousel{
margin-top:15px;
}
.deal-carousel .date {
	text-align:center;
}
.deal-carousel img {
height:120px;
width:120px;
}
.featured-title{
  font-family: 'Terembura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:23px;
color:#686868;
}
.navbar-toggle{
float:left;
}
.navbar-brand{
width: 70%;
text-align: center;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #fff;
}
.nav>li>a {
color:#fff;
}

.navbar-user {
  margin-top: -50px;
  margin-right: 5px;
}

.nav-right-side{
position:absolute; 
right: -12px;
color: #fff;
}

div.sb_dropdown{
	border:1px solid #fff;
	background: #fafafa; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fafafa)); 
	background: -moz-linear-gradient(top, #f2f2f2, #fafafa);
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	padding:6px 5px 6px 20px;
	margin:3px 0px;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}

/* snapjs styling */
.detail{
  background: #FFFFFF;
  position: relative;
  top:0px;
  left:0px;
  overflow-y: auto;
}
.container-fluid{ 
padding-left:0;
padding-right:0;
}

#open-left-img{
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.snap-drawers {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.snap-drawer {
    background: #323949;
    color: #eee;
}

.snap-drawer-left {
  z-index: 0;
}

.snap-drawer h3 {
    font-size: 36px;
    font-weight: normal;
    margin: 15px;
}

.snap-drawer h4 {
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
}

.snap-drawer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.snap-drawer li > a {
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    color: #ccc;
    text-indent: 20px;
}

.snap-drawer p {
    opacity: 0.5;
    padding: 15px;
    font-size: 12px;
}

.clear
  {
    clear:both;
    line-height:0; 
    height:0; 
    font-size: 1px; 
    margin-bottom: 30px;
  }

.col1{
  font-size: 20px;
  font-weight: bold;
}
header {
  min-height: 60px;
}
header>.container {
  padding-top:2px;
}
/*footer{
  height:50px;
  padding: 15px;  
    position:fixed;  
    left:0px;  
    bottom:0px;  
    background-color:#FFFFFF;  
    width:100%;  
    z-index: 99; 
}*/

.snap-right{
  width:230px;
  position: absolute;
  top:20px;
  right: 20px;
}

#search-box{
  display: none;
}

/*user profile*/
.user-name {
  color: #00a6df;
  font-family: 'Terembura', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-weight:bold;
  
}
.user-stat-num {
  font-size: 1.2em;
  font-weight:bold;
  
}
.user-number {
  font-size: 4em;
  font-weight: 400;
}

.user-number-rated {
color: #24B694;
  }
.user-number-checkins {
color: #D22042;
  }
.user-number-wanted {
color: #30C4C9;
  }
.user-number-visited {
color:#A3B808;
  }
.user-number-visited-week {
color: #24B694;
  }
.user-number-liked {
color: #D22042;
  }

.user-tags .label {
  line-height:2;
}

/* edit profile page */
.profile-edit-subtitle {
  background-color: #ccc;
  h3{
    text-align: center;
    color: #999;
  }
}

.venues li >div {
  height: 309px;
}

.venue-right {
  background: #fff;
border: 1px solid #d2d8d5;
border-radius: 4px;
}

.today-hours {
font-weight: 300;
margin-top: -4px;
margin-left: -15px;
}

.today-hours ul {
  list-style: none;
  padding-left: 16px;
}

.deals {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 10px;

  li {
    padding: 10px 0;
    /*border-top: 1px solid #e8e8e8;*/
  }
}
.deal-title {
  font-family: 'Terembura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ed2853;
}

.deal-duration {
  color: #999;
  font-size: 14px;
}

.scores-box {
  padding-top:20px;
  padding-left: 0;
}
/* miscellaneous */
.form-container { 
  max-width: 500px;
  margin: 0 auto;
}

.panel-deal .btn-group-sm a{
  color:#000;
}

.deal-slider{
    opacity: 0.5;
    padding: 15px;
    font-size: 12px;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* form error messages*/
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
/*
.field_with_errors {
  @extend .control-group;
  @extend .error;
}*/

/* overwriting slick buttons*/
.slick-next {
  color: #7f797b;
}
.slick-next:before {
  color: #7f797b;
}

@media screen and (min-width: 768px) {
  .nav-right-side{ 
    right: 2px; 
    display:block;
    }

}

@media screen and (min-width: 1200px) {
  h1.home-title {
    font-size: 60px;
  }
  h4.home-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

/**************
***************
SIDE BAR HAMBURGER
***************
**************/
/* General styles for all menus */
 
.cbp-spmenu {
    background: #343434;
    position: fixed;
}
 
.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
 
.cbp-spmenu a:hover {
    background: #258ecd;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #222;
    padding: 1em;
}
 
.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
 
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}
 
.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    left: -240px;
}
 
.cbp-spmenu-right {
    right: -240px;
}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
 
/* Horizontal menu that slides from the top or bottom */
 
.cbp-spmenu-top {
    top: -150px;
}
 
.cbp-spmenu-bottom {
    bottom: -150px;
}
 
.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}
 
.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}
 
/* Push classes applied to the body */
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
 
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
/* Example media queries */
 
@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}